<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav class="masthead-nav">
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item">
              <a href="{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}

          <li class="masthead__menu-item">
            {% if page.url contains "/en/" %}
              <a href="{{ '/' | relative_url }}">中文</a>
            {% else %}
              <a href="{{ '/en/' | relative_url }}">English</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
